main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #88c8a7, #1c43e3);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}

h1 {
  font-size: 3rem;
  color: #c9f1ed;
}

h2 {
  font-size: 1.5rem;
  color: #77B0AA;
}

.sudoku-solver {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh
}

.sudoku-grid {
  display: inline-block;
}

.sudoku-row input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.cell {
  outline: none;
  background-color: #77B0AA;
}

.sudoku-grid .cell[data-row="0"][data-col="0"],
.sudoku-grid .cell[data-row="0"][data-col="1"],
.sudoku-grid .cell[data-row="0"][data-col="2"],
.sudoku-grid .cell[data-row="0"][data-col="6"],
.sudoku-grid .cell[data-row="0"][data-col="7"],
.sudoku-grid .cell[data-row="0"][data-col="8"],
.sudoku-grid .cell[data-row="1"][data-col="0"],
.sudoku-grid .cell[data-row="1"][data-col="1"],
.sudoku-grid .cell[data-row="1"][data-col="2"],
.sudoku-grid .cell[data-row="1"][data-col="6"],
.sudoku-grid .cell[data-row="1"][data-col="7"],
.sudoku-grid .cell[data-row="1"][data-col="8"],
.sudoku-grid .cell[data-row="2"][data-col="0"],
.sudoku-grid .cell[data-row="2"][data-col="1"],
.sudoku-grid .cell[data-row="2"][data-col="2"],
.sudoku-grid .cell[data-row="2"][data-col="6"],
.sudoku-grid .cell[data-row="2"][data-col="7"],
.sudoku-grid .cell[data-row="2"][data-col="8"],
.sudoku-grid .cell[data-row="6"][data-col="0"],
.sudoku-grid .cell[data-row="6"][data-col="1"],
.sudoku-grid .cell[data-row="6"][data-col="2"],
.sudoku-grid .cell[data-row="6"][data-col="6"],
.sudoku-grid .cell[data-row="6"][data-col="7"],
.sudoku-grid .cell[data-row="6"][data-col="8"],
.sudoku-grid .cell[data-row="7"][data-col="0"],
.sudoku-grid .cell[data-row="7"][data-col="1"],
.sudoku-grid .cell[data-row="7"][data-col="2"],
.sudoku-grid .cell[data-row="7"][data-col="6"],
.sudoku-grid .cell[data-row="7"][data-col="7"],
.sudoku-grid .cell[data-row="7"][data-col="8"],
.sudoku-grid .cell[data-row="8"][data-col="0"],
.sudoku-grid .cell[data-row="8"][data-col="1"],
.sudoku-grid .cell[data-row="8"][data-col="2"],
.sudoku-grid .cell[data-row="8"][data-col="6"],
.sudoku-grid .cell[data-row="8"][data-col="7"],
.sudoku-grid .cell[data-row="8"][data-col="8"],
.sudoku-grid .cell[data-row="3"][data-col="3"],
.sudoku-grid .cell[data-row="3"][data-col="4"],
.sudoku-grid .cell[data-row="3"][data-col="5"],
.sudoku-grid .cell[data-row="4"][data-col="3"],
.sudoku-grid .cell[data-row="4"][data-col="4"],
.sudoku-grid .cell[data-row="4"][data-col="5"],
.sudoku-grid .cell[data-row="5"][data-col="3"],
.sudoku-grid .cell[data-row="5"][data-col="4"],
.sudoku-grid .cell[data-row="5"][data-col="5"] {
  background-color: #1d8896;
}

/* Remove Number Input Property */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:600px) {
  .sudoku-row input {
    width: 40px;
    height: 40px;
  }
}